[2017-05-09 13:41] olive64 opened #1 "Error js after build"
Hello,

I have this error after build my project with webpack :
"Uncaught TypeError: Cannot set property 'exports' of undefined"

`e.event=t,c[t]=e,l.props[t+"Options"]={type:Object,default:function(){return{}}}}.bind(f),f.component=l,t.exports=f})}])}`

[2017-05-09 13:51] cristijora commented on #1
Do you mind showing how you use/import the component (vue-tabs) ?

[2017-05-09 14:04] olive64 commented on #1
in my .vue import
[code]

[2017-05-09 14:08] cristijora commented on #1
Do you use vue-cli? I'll try to reproduce that.

[2017-05-09 14:08] olive64 commented on #1
Yes i use vue-cli

[2017-05-09 14:22] cristijora commented on #1
Had no issues building with the webpack template from vue-cli. Can you provide a bit more info about the setup ? package.json maybe or other relevant details

[2017-05-09 14:28] olive64 commented on #1
my package.json

[code]

[2017-05-09 16:18] cristijora commented on #1
I have tried with exactly the same package.json and didn't get any errors. Are you sure this error is caused by `vue-tabs` ? If you remove the component it works ?

[2017-05-09 16:21] olive64 commented on #1
The build is ok, when i open my project in Chrome i have this issue. When i remove the component all is ok :(

[2017-05-09 16:28] cristijora commented on #1
Hm. Any other stack trace information about the errror?

[2017-05-09 16:38] olive64 commented on #1
[code]

[2017-05-09 17:45] cristijora commented on #1
Thanks for the details! Fixed it. Please update to the latest version `0.2.2` It seems the issue was caused by a third party component `VTouch` which I removed anyway since it was used to swipe tabs and was more experimental

[2017-05-09 18:56] olive64 commented on #1
Thanks a lot for your time ! work perfectly

[2017-05-09 18:56] #1 closed

[2017-05-09 19:18] olive64 opened #2 "Tabs not work"
![capture](https://cloud.githubusercontent.com/assets/255646/25868517/3d784c1a-34fd-11e7-87dd-e56a694ea661.png)
Hi :)

the tab panel is display, but all v-tab includes are show, no error on debugger

[2017-05-09 19:20] cristijora commented on #2
Can you show the code and the output? Is the package version 0.2.2 ?

[2017-05-09 19:27] cristijora commented on #2
Showing the package.json version for `vue-nav-tabs` and the code where you declare the tabs would be helpful

[2017-05-09 19:33] olive64 commented on #2
Your right, my version was 0.1.2, work fine with 0.2.2

[2017-05-09 19:33] #2 closed

[2017-05-30 09:10] jagasan opened #3 "how to control tabs switching"
i want to control the tab switching means every tab switching time i want to ajax call and that response
i have to show in tabs body parts

[2017-05-30 09:47] cristijora commented on #3
I will add an event or a v-model for the tab index soon. Currently there is no default way of watching tab changes. I'll add this tomorrow

[2017-05-30 09:52] jagasan commented on #3
thank for replay
i am waiting for event and please make one good document

[2017-05-30 09:58] cristijora commented on #3
Something like this https://cristijora.github.io/vue-form-wizard/#/  ?

[2017-05-30 10:01] jagasan commented on #3
yeah these is good document

[2017-05-30 10:03] jagasan commented on #3
form wizard is also looking good

[2017-05-30 18:23] cristijora commented on #3
Please check https://jsfiddle.net/b44cc4dq/56/ Let me know if more information is needed on the event. Now tabIndex and tab components are sent together with the event.

[2017-05-31 05:26] afucher opened #4 "How to use it with vee-validate?"
Hi!!
I'm trying to use `vue-tabs` component in my form, but to validate the form I'm using `vee-validate`. But when I change the tab, the input are not hidden in the screen and fails to valid :/

There is a way to not destroy the input, but just make it hidden? Via css?

[2017-05-31 05:32] cristijora commented on #4
Can you please show the code you used?
For forms maybe https://github.com/cristijora/vue-form-wizard is better suited since it has validation functions and other features. (e.g Element UI validation -> https://jsfiddle.net/bt5dhqtf/409/)  Tabs are usually used for informational purposes.
Feel free to post the code anyway so I can understand better the issue

[2017-05-31 05:38] afucher commented on #4
Hi, I created a gist: https://gist.github.com/afucher/411e73a8ee962b4969dd2763ec20bbfb

I'm using Tabs because my form have a lot of information, so to make it easier to the user I'm separating the info. In this gist I just put a few fields to be more easier to explain.
If I'm in the tab "Address Info" and click to Save, the `validateAll` don't return error, because the others inputs doesn't exist

[2017-05-31 05:50] cristijora commented on #4
Ok. The issue is that vue-tabs doesn't support async validations yet. I will probably add that soon.
If you think Form Wizard can be an option for you (https://jsfiddle.net/bt5dhqtf/430/) you can try with it, otherwise, async validations will be implemented on vue-tabs only tomorrow

[2017-05-31 07:08] jagasan commented on #3
thank you so much

[2017-05-31 13:57] afucher commented on #4
This is great @cristijora !
But Form Wizard don't let me go to another tab without validate a field, right?

[2017-05-31 14:20] cristijora commented on #4
Yes, that's right. You can go back by clicking a tab but you can't go forward until it's validated in form-wizard.
If that doesn't suit your use-case, I will implement async validations for vue-tabs also in a very simillar way to what form-wizard has now.

[2017-05-31 14:42] afucher commented on #4
I want to validate all the data, just when the user click to save the register, not while he is editing it.

[2017-05-31 15:09] cristijora commented on #4
Well that's handled by VeeValidate. You have to set it up so it validates only on form validate

[2017-05-31 15:37] afucher commented on #4
Yes, but if you hide the panel with `v-if`, VeeValidate don't find the input to valid... that is my problem...

[2017-06-02 12:01] HTMLWU opened #5 "how to set active-border-color ?"
have active-tab-color and active-text-color but  i want active-border-color

[2017-06-02 12:11] HTMLWU opened #6 "more icons"
ti-setting more icon.....

[2017-06-02 13:02] cristijora commented on #6
Not sure I understand the request but you can use any icon library you wish. There is no restriction for that
https://jsfiddle.net/b44cc4dq/65/

In the examples, I use themify icons https://themify.me/themify-icons  but you can use something else like font-awesome from the jsfiddle above.

[2017-06-02 13:10] cristijora commented on #5
You can use css to customize the looks of your own tabs
https://jsfiddle.net/b44cc4dq/77/

[2017-06-07 17:11] flakobatako opened #7 "Setting current tab programmatically"
It would be great if the current tab could be switched directly via a js function.

[2017-06-07 17:17] cristijora commented on #7
You can do this with the help of a `ref`
https://jsfiddle.net/CristiJ/b44cc4dq/80/

There are 2 internal methods for changing a tab:
`navigateToTab (tabIndex)`
`changeTab (oldIndex, newIndex)`

navigateToTab is validating any `beforeValidate` functions while changeTab basically does a forced tab change without any validations but requires both the previous tab index and the current tab index.

I w

[2017-06-07 18:49] flakobatako commented on #7
Wow,  that was fast

[2017-06-07 19:02] flakobatako commented on #7
Thanks, i ended up like this.

beforeRouteEnter(route, redirect, next) {
    next(vm => {
      vm.$refs.tabs.changeTab(vm.$refs.tabs.activeTabIndex,0)
    })
  }

And it's working like a charm.

Thanks.

[2017-06-07 19:22] cristijora commented on #7
Let's keep this open. I will probably aim for something like this in the end. I will reference any updates reagrding this one in this issue here
[code]

[2017-06-13 09:16] vadimpopa opened #8 "Lazy rendering."
I'm beginner in VueJs. I've been trying to optimize some 2 level nested tabs with subtabs that have at least 6 highcharts each one.  Currently vue-tabs is lazy rendering, which is good for some scenarios, but thinking how to experiment if still doing lazy rendering but with render only once, so the active tab is not destroyed after transition so next time is not going to be rendered again. Any ide

[2017-06-13 09:51] cristijora commented on #8
@vadimpopa This can be achieved with https://vuejs.org/v2/api/#keep-alive

[2017-06-13 09:54] vadimpopa commented on #8
Yes I saw that, but did a few experiments, haven't noted any difference. So according to you, in the following template where I should add it ?

[code]

[2017-06-13 09:59] cristijora commented on #8
Let's create a jsfiddle and start from there. Please Create one with your example and maybe put something else than charts and point what you want to cache.

[2017-06-13 11:35] vadimpopa commented on #8
I'll work on it as soon as I'll get more time to play. I noticed that keep-alive is not working well with the v-for, especially in such tabs context. Caching worked but it rendered only the first tab.

[2017-06-13 11:43] cristijora commented on #8
Let's start from here https://jsfiddle.net/b44cc4dq/87/

[2017-06-13 11:46] vadimpopa commented on #8
Ok, see the screenshot, this is what I've got.

<img width="792" alt="screen shot 2017-06-13 at 2 45 08 pm" src="https://user-images.githubusercontent.com/3592131/27080979-07663866-5047-11e7-9ba8-816fc09fad2d.png">

[2017-06-13 12:22] cristijora commented on #8
Maybe I'm missing something but tabs are already kept in the DOM. Internally they use v-show to display content which sets `display:none` on the tab.
You can see that all tabs are present in the DOM but only one is visible. The rest have `aria-hidden="true"`
This also applies to sub-tabs so you might not need keep-alive at all. So

Is actually true by default since tabs are rendered only once and

[2017-06-13 12:42] vadimpopa commented on #8
Yep, I you missed pushing a new release with latest changes, and I missed as well this but only now noticed. The npm version is from 9 May, but that fiddle is working with the latests which has the 10 days ago changes. The npm version is working like with v-if.

[2017-06-13 12:50] cristijora commented on #8
Oh ok. Thanks for pointing that out. I will try to do small releases with like 1-2 issues from now on so I don't encounter such situations later on. For now you can point to a github repo in package.json so you get the latest version or wait for the next release in 1-2 days.

[2017-06-13 12:56] vadimpopa commented on #8
Nah, since yours is not going to have lazy rendering it's not suitable anymore for me. I've tested a bunch of libraries like vuetify , vue-material , only vuetify has lazy rendering on tabs (v-if instead of v-show). But besides lazy rendering I need the "render only once"/deferred rendering feature: so when the tab first is activated the content is rendered, next time when the tab is activated aga

[2017-06-13 13:37] cristijora commented on #8
Sure, putem vb joracristi@gmail.com. I will think over the issue and see if I can find some solution for that

[2017-06-13 13:54] cristijora commented on #8
Ai incercat sa te uiti peste https://vuejs.org/v2/api/#v-once ?

[2017-06-13 15:29] vadimpopa commented on #8
I have v-once, but is not helping much....anyways looks like vuikit (https://github.com/vuikit/vuikit) does deferred rendering, I haven't looked much into, just did a quick tests.

[2017-06-13 18:59] #6 closed

[2017-06-13 19:04] #5 closed

[2017-06-14 09:43] somuraijoe opened #9 "loading vue-tabs via laravel mix"
Hi,

I'm trying to load vue tabs with laravel mix in this way:

JS:
window.VueTabs=require('vue-nav-tabs');
Vue.use(VueTabs);

HTML:
    <vue-tabs>
        <v-tab title="First tab">
            First tab content
        </v-tab>

        <v-tab title="Second tab">
            Second tab content
        </v-tab>

        <v-tab title="Third tab">
            Third tab content
        </v-tab>
    <

[2017-06-14 10:07] cristijora commented on #9
I'm not very familiar with laravel-mix, but by looking at the error I can say that the initialization did not work and the component is not registered. Can you only import with `require` or with `import` also ?
Did you try
[code]
?

[2017-06-14 10:18] somuraijoe commented on #9
thx, now is loading, however is displaying all the tabs content despite what I select.
looking into

[2017-06-14 10:21] cristijora commented on #9
Did you also import the css file ?

[2017-06-14 10:28] somuraijoe commented on #9
that was the issue. Thx for you support.
loading by adding:
@import "node_modules/vue-nav-tabs/dist/vue-tabs.min"; in app,scss

[2017-06-14 10:28] #9 closed

[2017-06-21 17:23] #3 closed

[2017-06-24 10:06] #4 closed

[2017-06-26 09:49] adriankeenan opened #10 "License?"
Hi,

What's the license for this project? It doesn't appear to be mentioned in the readme, docs, package.json etc.

Thanks.

[2017-06-26 10:08] cristijora commented on #10
Sorry for that, for me everything I have as public repos = MIT licence
Added the Licence file
https://github.com/cristijora/vue-tabs/blob/master/LICENCE.md

[2017-06-26 10:58] adriankeenan commented on #10
That's great - many thanks!

[2017-06-26 10:58] #10 closed

[2017-07-03 08:13] MekDrop opened #11 "Private path in dist file"
In `dist/vue-tabs.js` there is one line with private path:

`i.options.__file="C:\\work\\Github\\vue-tabs\\src\\components\\TabContent.vue"`

I think it's confusing when you install npm package in different path and than you get Vue message with such path.

[2017-07-03 08:32] cristijora commented on #11
Thanks for pointing out. This is indeed not good. Is this warning shown during npm install ?

[2017-07-03 08:40] MekDrop commented on #11
From browser console: ![screen shot 2017-07-03 at 11 36 27](https://user-images.githubusercontent.com/342641/27784760-f3a02f7e-5fe3-11e7-9827-f9ad2a2e2277.png)

[2017-07-03 09:16] cristijora commented on #11
Can you describe the situation from which this error resulted?

[2017-07-03 09:23] MekDrop commented on #11
I think this always happens when you are getting such warning like in my screenshot on tab child component. And that warning happens I think always when programatically props before mounted event are modified.

[2017-07-10 06:12] nonefirst opened #12 "data can not loaded in mouted mothed."
https://jsfiddle.net/Lacuqsjn/
I initialize the data in mouted mothed,but warn:
Prop startIndex set to 0 is greater than the number of tabs - 0. Make sure that the starting index is less than the number of tabs registered.

and the tab was not show.
How can i solve it？

[2017-07-10 07:37] cristijora commented on #12
@nonefirst Unfortunately tabs don't work with dynamic instantiated data for now. I know about this issue and will fix it as soon as possible (maybe today)

[2017-07-10 07:44] nonefirst commented on #12
ok,if you have fixed it，please reply this issue

[2017-07-10 07:51] cristijora commented on #12
Sure, I will reference the commits to the issue and update the npm version

[2017-07-10 17:34] cristijora commented on #12
Please check the same jsfiddle from above. If it works ok, I will publish this version to npm

[2017-07-10 17:36] #8 closed

[2017-07-10 22:32] nonefirst commented on #12
it's ok， tks.

[2017-07-11 05:25] #12 closed

[2017-07-11 11:50] chrdunne opened #13 "Vertical Tabs - tab width"
Is it possible to set the width of the tabs and tab-content?

When I am using vertical tabs, the tab width changes and depends on the width of the content in the tab-container area.

Thanks
Chris

[2017-07-11 12:12] cristijora commented on #13
Just use css for that
https://jsfiddle.net/b44cc4dq/163/

[2017-07-11 21:18] cristijora commented on #11
This was fixed along with the new release which contains a totally different way of bundling the component

[2017-07-11 21:18] #11 closed

[2017-07-11 21:20] cristijora commented on #7
Latest release includes `v-model` support https://github.com/cristijora/vue-tabs/releases/tag/v0.5.0 which makes it very easy to change a tab without calling any function but rather modify the v-model

[2017-07-11 21:20] #7 closed

[2017-07-11 21:20] #13 closed

[2017-08-22 07:16] seekcx opened #15 "Spaces affect the layout."
In the absence of an icon, the layout looks weird and the text can not be centered.

https://github.com/cristijora/vue-tabs/blob/master/src/components/VueTabs.js#L116

[2017-08-22 07:29] cristijora commented on #15
Can you show in a fiddle please?
Here is a starting point.
https://jsfiddle.net/b44cc4dq/309/

Maybe the space should be removed between icon and title

[2017-08-22 08:42] seekcx commented on #15
@cristijora You are right, that's what I mean. The middle of the `&nbsp;` causes the text to look no center.

[2017-08-23 09:11] cristijora commented on #15
@seekcx Moved the space to icon which will be added only when you define an icon for the tab.
Released https://github.com/cristijora/vue-tabs/releases/tag/v0.5.2

[2017-08-23 10:20] seekcx commented on #15
@cristijora  Great! Thanks.

[2017-08-23 10:20] #15 closed

[2017-08-30 11:03] cyobiorah opened #16 "change theme"
how can the theme be changed from the default one cannot seem to find how

[2017-08-30 11:06] cristijora commented on #16
If you use webpack simply import the css of the theme you want
https://cristijora.github.io/vue-tabs/#/?id=component-registration

[code]
Or

[code]

If you don't use webpack or npm simply import the theme as a style tag
[code]

[2017-08-30 11:08] cyobiorah commented on #16
thanks,  pretty easy.

[2017-08-30 11:08] #16 closed

[2017-08-30 11:09] cristijora commented on #16
You could also copy the css from there and change it as you wish and reference your "own" theme if you want.

[2017-09-04 06:23] alexey-sh opened #17 "handleTabChange called twice"
Just open the example and try to click on tab icon. The console.log will appear twice.
But it works fine when clicking on tab title.
https://jsfiddle.net/b44cc4dq/56/

[2017-09-04 07:07] cristijora commented on #17
Fixed in [0.5.3](https://github.com/cristijora/vue-tabs/releases/tag/v0.5.3)
Jsfiddle should work without changes

[2017-09-04 07:46] #17 closed

[2017-09-04 12:52] akashdeep-singh opened #18 "This doesn't support disabling tabs?"

[2017-09-04 14:28] cristijora commented on #18
@akashdeep-singh Currently no, but that can be easily added 😄

[2017-09-04 14:59] akashdeep-singh commented on #18
@cristijora I'll try adding the functionality and PR if I get soemwhere

[2017-09-04 14:59] #18 closed

[2017-09-04 15:00] cristijora commented on #18
Don't worry. I almost finished it.

[2017-09-04 15:07] cristijora commented on #18
See this fiddle as an example
https://jsfiddle.net/b44cc4dq/386/

There is a `disabled` prop per tab
and 2 options to configure the colors for disabled tabs
[code]

You can also do that via css if you want but you have to cover the hover case also.
If this is fine, I will publish to npm a new version

[2017-09-04 15:19] akashdeep-singh commented on #18
@cristijora Thanks! Could you publish to npm as well?

[2017-09-04 15:22] cristijora commented on #18
It's up on npm [0.5.4](https://github.com/cristijora/vue-tabs/releases/tag/v0.5.4)

[2017-09-04 15:22] akashdeep-singh commented on #18
It doesn't seem to be working on the jsfiddle you shared. Could you verify?

[2017-09-04 15:24] cristijora commented on #18
Maybe hard refresh? Do  you get something like this?
![image](https://user-images.githubusercontent.com/15955045/30032389-4cc0e01c-919e-11e7-8e0e-0c3c4d88cc9a.png)

[2017-09-04 15:27] akashdeep-singh commented on #18
Yep, that worked. Thanks

[2017-10-12 01:47] ryanelian opened #20 "All links color turns to grey inside the tabs?"
Note the Login URL text and the Edit button inside the tab content:

![with](https://user-images.githubusercontent.com/8892187/31475238-e4643c9a-af29-11e7-8ee8-f8718382136c.PNG)

https://github.com/cristijora/vue-tabs/blob/master/themes/vue-tabs.css#L4-L6

[code]

I feel that those lines should not be there...

It looks better too without it tbh:

![without](https://user-images.githubusercontent.c

[2017-10-12 15:14] ryanelian opened #21 "javascript:void(0) in <a> causing CSP error when 'unsafe-inline' is not allowed!"
https://github.com/cristijora/vue-tabs/blob/master/src/components/VueTabs.js#L155

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy

Probably should change:

[code]

into:

[code]

[2017-10-28 12:11] iMomen opened #24 "How to extend the library?"
I want to use an image in the tab instead of the icon, I have already done this by updating the main library files by replacing the icon function

`        renderIcon: function renderIcon(index) {
            var h = this.$createElement;

            if (this.tabs.length === 0) return;
            var tab = this.tabs[index];
            var icon = tab.icon;
            var imageSrc = tab.image;

[2017-10-29 22:09] cristijora commented on #24
Hi @iMomen
There is no need to extend it or modify it internally for this use case
You can simply use the `title` slot
https://jsfiddle.net/b44cc4dq/519/

[2017-10-30 09:09] iMomen commented on #24
@cristijora Thank you.
But actually,
I don't want to lose the title also, my designed tabs is something like this
<img width="993" alt="screen shot 2017-10-30 at 12 09 13" src="https://user-images.githubusercontent.com/5030329/32162787-034f3dec-bd0f-11e7-8562-688c9ccdcbb8.png">

[2017-10-30 09:31] cristijora commented on #24
@iMomen slots are just placeholders for html. You can put anything you need inside them.
https://vuejs.org/v2/guide/components.html#Content-Distribution-with-Slots

Regarding the design part, you can write css to achieve the look from design.
Here is a starting point: https://jsfiddle.net/b44cc4dq/556/
It was done quickly so don't take it as a solid reference. Made it so you can get an idea on how

[2017-10-30 09:41] iMomen commented on #24
Working like a charm, and thank you for telling me about Slots

Closed.

[2017-10-30 09:41] #24 closed

[2017-10-31 18:00] kidii opened #25 "Issue when importing the style"
ERROR in ./~/vue-nav-tabs/themes/vue-tabs.css
Module parse failed: /Applications/MAMP/htdocs/master/node_modules/vue-nav-tabs/themes/vue-tabs.css Unexpected token (1:0)
You may need an appropriate loader to handle this file type.
| .vue-tabs.stacked {
|   display: flex; }
|
 @ ./~/buble-loader!./~/vue-loader/lib/selector.js?type=script&index=0!./resources/assets/js/components/ServiceModule/_EditWo

[2017-10-31 18:09] cristijora commented on #25
Hi @kidii
Can you tell me please what is your webpack setup ?

[2017-10-31 18:38] kidii commented on #25
Hi!

var elixir = require('laravel-elixir');

require('laravel-elixir-vue-2');

elixir(mix => {
	mix.sass('app.scss')
	   .styles('custom.css', 'public/css/all.css')
	   .copy( 'node_modules/bootstrap-sass/assets/fonts/bootstrap', 'public/fonts/bootstrap')
	   .webpack('app.js')
	   .scripts([
			'bootstrap-notify.min.js'
	   ]);
});

[2017-10-31 18:42] cristijora commented on #25
hm do you know if you have a `css-loader` setup ?
Do you have other places where you import css ? (bootstrap css for example?)

[2017-10-31 18:48] cristijora commented on #25
Try with
[code]
[code]
I might be wrong since I'm not a laravel user. If this doesn't work you need to find out how to import css or add a css-loader in laravel

[2017-10-31 18:59] kidii commented on #25
Nope. But thanks for helping! :)

[2017-10-31 19:09] cristijora commented on #25
https://stackoverflow.com/questions/31547729/laravel-5-elixir-how-to-reference-a-css-file-from-node-modules-directory
I see people use the copy option.

[2017-11-02 16:11] cristijora commented on #25
Closing as it's not related to vue-tabs

[2017-11-02 16:11] #25 closed

[2017-11-08 12:47] moondef commented on #21
Fixed
[PR](https://github.com/cristijora/vue-tabs/pull/27)

[2017-11-08 12:47] moondef commented on #20
Fixed
[PR](https://github.com/cristijora/vue-tabs/pull/26)

[2017-11-08 14:46] #21 closed

[2017-11-08 14:46] #20 closed

[2017-11-29 15:20] ameoba32 opened #28 "Hide/show tab"
I am trying to show hidden tab, but got not that expected. At first it shows both tabs, but later fixes it when clicked. See example here https://jsfiddle.net/p63evL20/

How to achieve this? I need to temporarily hide first tab and show it later.

Thanks.

[2017-11-30 08:44] cristijora commented on #28
Hi @ameoba32
You could try to use `v-model` for more predictive rendering.
https://jsfiddle.net/p63evL20/7/

If you specify via v-model the initial activeTab, then the tab order is most likely to be the correct one.

[2017-12-01 16:02] ameoba32 commented on #28
Yes, v-model works, it saves current tab correctly. Thank you!

Also, if I want to switch to newly shown tab, I came up with next code
https://jsfiddle.net/p63evL20/11/

without nextTick it does not work. But its okay :)

[2017-12-01 16:02] #28 closed

[2017-12-03 10:25] ahoendgen opened #30 "Tab link breaks hash based navigation"
The fix introduced with #21 breaks hash based navigations since it sets the hash everytime to `#`.

PR #29 is a possible solution to fix this.

[2017-12-04 21:09] felocru opened #31 "Label a with href scrolls the page up."
Hello, using `href =" # "` causes the screen to scroll up. I did not find a way to change this.
It would be nice to put the `href =" title "` with the title of the `v-tab` tag.
I await your comments, thank you.

[2017-12-05 13:15] ahoendgen commented on #31
Have a look at #30 its the same problem

[2017-12-05 19:09] cristijora commented on #31
@felocru @ahoendgen I will fix this this week. If you have time you could also submit a PR.
@ahoendgen I saw you submitted a pr but the build file was modified instead of the source files which are located in `src/components`

[2017-12-06 08:08] ahoendgen commented on #31
@cristijora
sorry, my mistake. i changed this and updated the pr

[2017-12-07 01:43] kikoseijo commented on #30
Agree with ahoendgen, seems we loosing navigation everytime we click on a tab.
Maybe we missing something in vue-router configuration not on the docs.?

[2017-12-07 11:36] ahoendgen commented on #30
@kikoseijo
you can pass a route to a tab, then it changes the route but of course you need a route for each tab

my pr was accepted so the problem is fixed in current master

[2017-12-07 16:24] kikoseijo commented on #30
You got to remember this package its part of a premium bundle package.
You should publish the fix on a normal release.

Its not easy to install a master branch using npm.
Until then the update breaks the navigation after clicking on a tab.

Why don't commit to a release?
Thanks.

[2017-12-07 16:25] kikoseijo commented on #30
Please @cristijora make a release.

[2017-12-07 18:01] cristijora commented on #31
Released [0.5.6](https://github.com/cristijora/vue-tabs/releases/tag/v0.5.6)

[2017-12-07 18:01] #31 closed

[2017-12-07 18:01] cristijora commented on #30
Released [0.5.6](https://github.com/cristijora/vue-tabs/releases/tag/v0.5.6)

[2017-12-07 18:01] #30 closed

[2017-12-07 18:02] kikoseijo commented on #30
Genius!!!!

[2017-12-08 01:33] kikoseijo opened #32 "Enhancement tab-change event"
Hello Cristijora,

Would not be good to have a handleTabChange in 2 versions?

What I mean its will be good to have a `beforeTabChange` and a `afterTabChange`, the uses cases could be several, I guess best argument will be to be able to set things inside the tab after things got loaded.

Great work btw.

[2017-12-11 08:24] cristijora commented on #32
Hi @kikoseijo
Could you provide a use case please ?

[2017-12-11 19:11] kikoseijo commented on #32
@cristijora thanks for reply.

Yes, I want to focus on an item, any field that does not exist until tab been changed.
I can't focus on this moment because does not exist till change have been completed.

Another one:

Working with tabs and maps. must re render map after tab its visible.

Does this make sense?

[2017-12-11 19:34] cristijora commented on #32
Yes, I understand. You could use the existing tab change event and Vue.nextTick. Having 2 events won't solve too much in this case. Simply use the tab change event and place your focus logic inside Vue.nextTick

[2017-12-11 19:35] kikoseijo commented on #32
Super!!!
you genius... thanks for tip.-

[2017-12-11 19:35] #32 closed

[2017-12-12 17:03] abdullahonden opened #33 "How to prevent tab clicks jumping to top"
Hello Cristi,

First of thank you for this great component, we are using your Vue Paper Dashboard Pro and making some customization. As you know Vue Tabs is in that theme, and we thought we can use this in our front page too and completed the design. But if we click on the tab, it jumps to the top. I looked at your demo and our admin pages, it doesn't jump all the time. Changing the # link to #/ [

[2017-12-12 17:48] cristijora commented on #33
Hi @abdullahonden Please make sure you have the latest version installed. 0.5.6. There was a bug in 0.5.5 that you are describing.

[2017-12-12 17:56] abdullahonden commented on #33
Wow, thank you :)

[2017-12-12 20:44] cristijora commented on #33
Closing the issue if this solved the problem. Happy coding :)

[2017-12-12 20:44] #33 closed

[2018-01-14 07:27] nathansalwen opened #34 "duplicate key in vue 2.5.13"
Hi, thanks for the components.  If I run https://jsfiddle.net/b44cc4dq/245/show/ but switch to a newer version of vue (2.5.13) I see that there is a warning.  This does not seem to stop the functionality but, I believe the newer version of vue added the warning message.

vue.js:584 [Vue warn]: Duplicate keys detected: ''. This may cause an update error.

found in

---> <VueTabs>
<Root>

Thank you

[2018-01-14 16:16] cristijora commented on #34
Hi @nathansalwen
Thanks for reporting. This is mainly because of the example. Internally, this component relies on "title" prop. Since the example always adds a new tab with "New Tab" title, it will eventually trigger this warning. In a real example you would want to give different names for each tab.

[2018-01-22 08:56] ultrasamad opened #35 "Horizontal tabs"
Cool component. But if I want the tabs to lie horizontal instead of the default vertical in the [JSFidle demo](https://jsfiddle.net/b44cc4dq/56/), how will I achieve that.

Thanks.

[2018-01-22 13:10] cristijora commented on #35
Hi @ultrasamad By default they are actually horizontal.
There is a vertical option as well
https://jsfiddle.net/b44cc4dq/190/

[2018-01-22 13:51] #34 closed

[2018-01-23 09:45] ultrasamad commented on #35
Oh cool. I wish the tabs could be scrollable, such that with the horizontal tabs there will be a limited number of tabs based on the browser width and a scrollable feature to click through to scroll and with the vertical as well.

Thanks.

[2018-02-15 13:45] jpldev opened #36 "Back Button to a specific Tab"
Hi, how can I program a Back Button that takes me back to a specific Active Tab?

I use  vue-router, could it be with router-link?

[2018-02-16 12:23] Enggawadhesh opened #37 "Deactivate tab title hide"
Hi Dear, cool things,
but how to hide deactivate tab title and how to put tab at bottom for mobile browser like google+ navbar on mobile browser

[2018-02-16 20:37] cristijora commented on #36
Hi there.
For router based tabs, I really recommend writing them without a library/component.
You could simply have a router view and a styled list with tabs.
This can be very trivial to do actually especially when using some css library
[code]
https://codesandbox.io/s/2x56qkrp70

[2018-02-19 15:13] jpldev commented on #36
Thanks !!

[2018-02-19 15:13] #36 closed

[2018-02-19 15:16] cristijora commented on #37
@Enggawadhesh could you please share a screen maybe. That would help a lot so I don't have to guess 😄 how it should look.

[2018-03-09 13:02] Enggawadhesh commented on #37
![e7b3a34e-4ff6-4d95-8be8-652a12c4861d](https://user-images.githubusercontent.com/20462660/37208591-e2eed20e-23c7-11e8-8ec1-97e1303c4049.jpg)
Sorry for being late, this is screen

[2018-04-04 12:45] drjonnicholson opened #40 "New Release"
Hi,

When is version 5.7 expected to be released?

I ask as at the moment to get the improvements of tab headings with scoped slot I have to pull off of git master rather than npmjs.com.

[2018-04-09 18:31] claudeberube commented on #40
Looks like "version": "0.5.7" was not updated  in NPM yet.

[2018-04-09 18:46] cristijora commented on #40
Sorry for the wait guys. I've been a little to busy lately.

[2018-04-09 18:47] #40 closed

[2018-04-10 15:27] san-kumar opened #41 "How to use beforeChange?"
VueTab has a `beforeChange` method with the following comment:

[code]

Unfortunately it is not working for me. Please see this JSFiddle here:

https://jsfiddle.net/qgro0w6r/

What am I doing wrong?

[2018-04-16 15:27] bram1028 opened #42 "Compile error with webpack 2 (laravel-mix)"
I keep getting a build error with building for prod (it worked fine for dev):

[code]

I'm using it as instructed:

[code]

I removed this from the package.json, and then the prod build worked fine:

[code]

Any better suggestions?

[2018-04-18 14:42] PSalmers opened #43 "Tab content does not display when initial tab is the leftmost (first) tab."
https://jsfiddle.net/psalmers/qch0sre4/3/

We are trying to initialize tabs programmatically, and when the value denoting the first tab declared in the dom is the initial value passed to v-model, the first tab's content does not display. Tabs other than the first tab correctly initialize. I have recreated this in the above fiddle based on the demo on how to programmatically set tabs.

[2018-04-25 07:13] stomaskov opened #44 "babel-helper-vue-jsx-merge-props missing in dependencies?"
Did `npm install vue-nav-tabs` and it was missing.

`vue-tabs.common.js:12 Uncaught Error: Cannot find module "babel-helper-vue-jsx-merge-props"
    at webpackMissingModule (vue-tabs.common.js:12)
    at eval (vue-tabs.common.js:12)
    at Object.../node_modules/vue-nav-tabs/dist/vue-tabs.common.js (index.bundle.js:82)
    at __webpack_require__ (index.bundle.js:20)
    at eval (header.js:3)
    a

[2018-04-25 18:55] cristijora commented on #44
Hi @stomaskov
just make sure you `import Tabs from 'vue-nav-tabs/dist/vue-tabs.js` which is the ES5 compiled version that should give you any warnings like this.
If you `import Tabs from 'vue-nav-tabs'` it will most likely get the raw version which is written with jsx

[2018-04-25 20:09] stomaskov commented on #44
Yep, importing from dist works.
Is this environment related or something else?
Because documentation doesn't mention importing from dist.

[2018-05-03 10:45] bicienzu commented on #43
@mattrw89 seems to have solved the problem on this fork https://github.com/mattrw89/vue-tabs.

[2018-05-03 10:51] mattrw89 commented on #43
Hello,

Yes. I solved the issue and did not have time to create a PR yet! Sorry.
Feel free to do so.

On Thu, May 3, 2018 at 6:45 AM bicienzu <notifications@github.com> wrote:

[2018-05-03 14:47] bicienzu opened #46 "tab-change event only on user actions"
I'm using vuex. I need to change tab programmatically and with user actions (click on tab). Is possible trigger tab-change only for user actions and not when i change it programmatically?
Thanks

[2018-05-07 20:09] ChuckAtGitHub commented on #43
Hello,

Is the PR #45 approved?
It would be great if we had this functional, and avoid telling our ppl to click on tab to activate the content of the initial left most tab.   👍

[2018-05-13 18:38] bonekost opened #47 "tab-change google maps"
If google maps is placed in another tab than first it has to be resized for showing
(according to this [stackoverflow.com](https://stackoverflow.com/questions/14861975/resize-google-maps-when-tabs-are-triggered))

but if you use it with `tab-change` event it doesn't work

e.g:
[code]

[2018-05-15 10:52] ChadTaljaardt opened #48 "Adding a badge to the tab content?"
Hello,

Id like to be able to add a badge to the tab content, for instance as seen in this PR: https://github.com/cristijora/vue-tabs/pull/38 you can add dynamic content to headers. Is there a way to be able to highlight that content in a badge?

Thanks!

[2018-05-17 10:43] cristijora commented on #48
hello @ChadTaljaardt You can use the `title` slot for each tab to fully customize the tab.
Here's a demo with a badge.
https://jsfiddle.net/b44cc4dq/1390/

Regarding dynamic data, yes you can pass it over and use it inside `title` slot however you want.

[2018-05-17 10:43] #48 closed

[2018-05-17 10:45] cristijora commented on #47
@bonekost hello
Could you provide a small codesandbox/jsifddle with that so I can help easier.
Until then I can only suggest maybe doing that in `$nextTick` as that event occurs before actually it's displayed in DOM.

[code]

If that doesn't work please provide a fiddle example. If it works we will have to close the issue as `$nextTick` is more Vue core related

[2018-05-17 10:52] cristijora commented on #46
@bicienzu at the moment don't think that's possible. If you need such a thing it can be added as a new event here https://github.com/cristijora/vue-tabs/blob/master/src/components/VueTabs.js#L63

`navigateToTab` is called only upon click and therefore you can emit a new event there and feel free to open a PR

[2018-05-17 10:54] cristijora commented on #42
Hello @bram1028 Try to import the es5 file directly from node_modules like this
`import VueNavTabs from 'vue-nav-tabs/dist/vue-tabs.common.js` and see if that works

[2018-05-17 10:56] cristijora commented on #41
Hello @san-kumar Really sorry for the long response.
`beforeChange` is an old artifact which is no longer used. Please refer to the documentation to see valid props/events http://vuejs.creative-tim.com/vue-tabs/#/?id=v-tab-props

[2018-05-17 10:58] cristijora commented on #44
Yeah this can be environment related. I will check if the `main` file in package.json is set correctly as it might cause this issue.

[2018-05-17 10:59] san-kumar commented on #41
Ok thanks :) Good to know.

[2018-05-17 10:59] #41 closed

[2018-05-17 11:09] bonekost commented on #47
@cristijora it works with `$nextTick` for me.
Thanks

[2018-05-17 11:10] #47 closed

[2018-05-27 17:54] Kondenko commented on #16
I use scss in my project and importing the scss theme version does not work. Because of that I can't import my own scss theme in my styles. It won't even work if I copy the whole theme file into my <script> tag.
What could be wrong?

[code]

[2018-06-22 17:29] lelukas opened #49 "Disable default styles"
Is there a way to disable default styles? I would like to use my own styles and vue-tabs use classes names that I already defined for other components

[2018-06-26 16:47] tsmith-dev opened #50 "Dynamic Tabs Demo Removes Incorrect Tab"
The dynamic tabs demo at https://jsfiddle.net/b44cc4dq/245/ removes the first tab in the array instead of the correct one due to the missing 'index' in line 4 of the demo code.

`<v-tab v-for="tab in tabs" :key="tab">`

should read...

`<v-tab v-for="(tab,index) in tabs" :key="tab">`

[2018-06-27 17:12] Geminii commented on #49
Hi @lelukas,
Maybe you can add a class on `vue-tabs` then specify your own css, no ?

[code]

[2018-06-27 17:23] Geminii opened #51 "Customize vTab property"
Hi all !

On my project, i use vue-tabs (so simply to use) but i need more liberty to obtain my result.
vTab has only one property (title), can i propose a pull request to customize more vTab property ?

In fact, i need to specify a dynamic class or style to obtain the following render :
[https://ufile.io/wys5y](url)

I have a dynamic list, and need to calculate the width for each item.
[code]

Co

[2018-07-07 22:10] bradleybensmith commented on #42
Looks like it's something in my webpack config, still narrowing it down.

[2018-07-07 22:10] #42 closed

[2018-08-22 10:05] DenzoNL commented on #43
@cristijora Could you perhaps push this fix to a new release? I'm using this package in the Vue Light Dashboard template and I'm also suffering from this bug :)

Thanks in advance!

[2018-08-28 13:34] AykutBurak commented on #34
Well I'm working on a real project which I have different names for each tab. But I'm still getting the same warning. [Like this one](https://jsfiddle.net/b44cc4dq/2180/).

[2018-08-29 15:40] mlumbroso opened #52 "findIndex is not working on IE11"
Hello,

the component triggers an issue with IE11, because of the use of findIndex in `components/VueTabs.js`
There are a few workarounds : https://stackoverflow.com/questions/37698996/findindex-method-issue-with-internet-explorer

Can you fix this ? I can make a PR otherwise !
Thanks :)

Edit : also noticed 3 "+" signs here : https://github.com/cristijora/vue-tabs/blob/4df45c34382e7bba6e1b2bf47eb

[2018-09-05 20:56] CrzKev opened #53 "Strange sorting with v-for in combination with v-tab"
Dear,

v-for around v-tab doesn't keep the same sorting.
{1,2,3}
With v-for alone you got 1, 2 ,3
Combination v-for v-tab you got 2, 3, 1

I have made an example the problem should be more clear.
https://jsfiddle.net/b44cc4dq/2323/

Thank you in advance.

[2018-09-08 19:57] CrzKev commented on #53
v-for has to be in the v-tab element why is not 100% clear to me.
But for the people who has some interest.

https://jsfiddle.net/b44cc4dq/2353/

[2018-09-08 19:57] #53 closed, assigned to nobody

[2018-09-14 09:17] DenzoNL commented on #43
@cristijora Bump ^_^

[2018-09-17 13:56] Zilvinaskli commented on #43
@cristijora I'm using this from npm and I'm getting exactly the same bug

[2018-10-23 23:50] petemolinero commented on #44
Perhaps the [documentation](https://cristijora.github.io/vue-tabs/#/?id=component-registration) should suggest `import Tabs from 'vue-nav-tabs/dist/vue-tabs.js` instead of `import VueTabs from 'vue-nav-tabs'`?

[2018-10-30 21:09] mlumbroso commented on #52
@cristijora any news on this one ?
Thanks

[2018-12-04 07:26] rasapetter commented on #43
@cristijora any chance you'll have time to do a new release soon? :slightly_smiling_face:

[2018-12-05 16:06] mturnbu opened #54 "Aria attribute issue"
I'm getting an 'invalid aria attribute' when I use an accessibility checker.

The tab ids, and corresponding aria attributes have spaces when my title has a space, eg. 'Second tab'. Ideally spaces should be stripped. Alternatively the user could be allowed to send in a prop to use for aria if this would be simpler to implement.

Input code:
`  <vue-tabs>
    <v-tab title="First tab">
      <p>Lore

[2018-12-11 17:24] hberbary commented on #43
@cristijora the npm package is outdated... it would be really great to have this new realease. 👍

[2018-12-12 10:50] genert commented on #44
Pump! 👍

[2019-01-11 10:29] demiro opened #56 "No typescript support"
When running it with typescript I get an error:

[2019-01-18 14:32] DenzoNL commented on #43
Bump, please create a new release!

[2019-02-05 04:37] 181 opened #57 "How to justify the tabs, like in the example"
Like in this example, https://jsfiddle.net/b44cc4dq/56/
there is a nav-justified class,  <ul role="tablist" class="nav nav-pills nav-justified ">
is there a way to add this without hacking in the package css part, as the ul part is produced by the package.
tried with centered property, but all the tabs will be stacked together, I am using vue-tabs with bootstrap 4.
Update: found the below width ru

[2019-02-07 00:33] 181 opened #58 "Is there any way to add a tab for displaying all, without repeating displaying content under different tabs"
Is there any way to add a tab for displaying all, without repeating displaying content under different tabs

[2019-02-11 22:45] 181 opened #60 "default tab keep changing"
I use vue-tabs within a modal, the tabs order keeps changing. e.g. when click a button to display modal first time, the first tab and its content will be chosen and display, then close it, when open the tabs again, the first tab would be the second tab this time, and after. is this about the index 0, 1 issue? Any one met this before?

[2019-03-13 23:11] dmotors commented on #34
I did some test using the provided example and seems the last vue version 2.5.9 is the one that still works. I'm using 2.5.13 myself and it is definitely not working with same error message.

[2019-03-14 20:23] akhoury commented on #43
ping

[2019-05-15 12:19] ZalgirisKaunas opened #62 "Cannot read property 'disabled' of undefined"
When I load my app I get this even if my app works fine:

[code]

[2019-06-04 01:32] ejabu opened #63 "npm run deploy error"
"The pattern in the "src" property didn't match any files."

this is full log

0 info it worked if it ends with ok
1 verbose cli [ '/home/haliib/nuxt/nodejs/bin/node',
1 verbose cli   '/home/haliib/nuxt/nodejs/bin/npm',
1 verbose cli   'run',
1 verbose cli   'deploy' ]
2 info using npm@6.4.1
3 info using node@v10.15.1
4 verbose run-script [ 'predeploy', 'deploy', 'postdeploy' ]
5 info lifecycle vu

[2019-09-09 16:05] robschaap242 commented on #34
working in 2.6.10 and I have the same error message, with a sample that has different titles and :key for each.  I'm the 4th person to point this out, don't think it's closed IMO.

[2019-10-07 10:02] scaytrase commented on #15
Seems like this one breaks spinning font-awesome icons now. With `&nbsp` in it they spin with wobbling. Can this one be made optional?

[2020-02-07 15:36] noook commented on #62
Having the same problem here. I'm removing an element from the list used to render the tabs and it happens everytime I try to remove the last element of the list.

[2020-02-07 15:51] noook commented on #62
I may have found a solution to the issue. The problem is that I had a button on the tab that allows me to delete it just like a browser tab. What actually happens behind that, is that the click that tries to delete the tab also triggers the click event that navigates through tabs.

I solved the issue by adding an event modificator (`.stop`) on the click event from my button so that the event is no

[2020-02-12 04:33] kydner commented on #35
I try to change direction tab to vertical https://jsfiddle.net/b44cc4dq/190/, but the tab keep to horizontal, only content changes to vertical, how fix it??

[2020-03-30 11:32] christhofer commented on #60
This only happen if I use v-if in my modal. I solved it with using v-show instead. But now I need it to be v-if, so I'm also looking for a solution.

[2020-04-06 15:16] Exalyn commented on #57
I know it's late, but if someone still has this issue, please note that is probably Bootstrap who mess with nav class.
Try to create a class on your vue-tabs, and then :
.my-class .nav {
display: block;
}

[2020-04-21 09:49] stwic opened #66 "Support tooltip integration"
There is no way to add tooltip on hover, e.g. using other directives like v-tooltip, or just using default HTML title attribute.

[2020-05-18 20:37] stefanbolcs commented on #34
i have the same issue vue 2 6 11

[2020-05-25 09:17] thaycacac commented on #63
I got have the same

[2020-06-09 12:43] tfdbloom commented on #34
I get the same issue. For me the case was I used slots and skiped the title (as did the [jsfiddle example](https://jsfiddle.net/b44cc4dq/245/)). Adding the title solved it for me, still keeping the slot.

[code]

[2020-09-28 20:24] juniorgarcia opened #70 "Error in production using Nuxt | Heroku"
I got an error while in production (on Heroku) due `babel-helper-vue-jsx-merge-props` which is required by this component, but not declared in `dependencies` on `package.json`. Since Heroku removes the `devDependencies`, this triggers this error.

[Here](https://github.com/cristijora/vue-tabs/blob/master/dist/vue-tabs.common.js#L12) is the line requiring this dependency.

## Info:
|Tool|Version|
|

[2020-11-26 13:46] QuantumPixelForge opened #71 "Getting Vue warn in console when try example from Project page"
Got errors in console:

found in

---> <VTab>
       <VueTabs>
         <AppLayout> at resources/js/Layouts/AppLayout.vue
           <Dashboard> at resources/js/Pages/Dashboard.vue

1) Method "route" has already been defined as a prop.

2) Avoid mutating a prop directly since the value will be overwritten whenever the parent component re-renders. Instead, use a data or computed property based on t

[2021-04-10 04:17] SSmJaE opened #72 "isValidParent() doesnt has effect in production build with minimize & typesctipt & class component"
hi, I found a bug that in VTab, if you use isValidParent to validate the parent component is VueTabs after minimizing, because, in vue class component, the class name is set to vue component name, but after minimize, the class name may be modified, so
[code]
does not has the effect, it will show an empty page.
there is a workaround that uses provide and inject, which can avoid this problem, just l

[2021-04-30 10:24] SSmJaE commented on #8
[code]

[2021-06-23 20:35] amchconsult commented on #35
I wish the tabs could be scrollable also.
Can you do it?
Please, thank you

[2021-06-24 16:21] amchconsult commented on #35
THIS WILL ADD SCROLL

[code]

[2022-04-20 12:53] amchconsult opened #73 "Vue3 version"
any plans for a vue 3 version?
thank you

[2022-10-26 14:26] amchconsult commented on #73
any news about a version for vue 3?
I really needed
thank you

[2022-11-26 22:30] uaibo commented on #73
Any plans to give a full example for those who arren't that much familiar with frontend libraries and not just bits & pieces?
Absolutely horrible documentation!